.formWidth {
    width: 100%;
}

@media (min-width:992px) {
    .formWidth {
        width: 50%;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .formWidth {
        width: 75%;
    }
}

@font-face {
  font-family: "Somar";
  src: url("/fonts/somar/fonnts.com-Somar_Regular.ttf") format("ttf");
}